html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.3;
    color: #555;
}

a {
    color: #009ced;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.container {
    width:1080px;
    margin: 0 auto;
}

.top-menu {
    background: #505755;
    height: 38px;
    position: relative;
}

.top-menu .container{
    width:550px;
}

.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-menu a{
    display: block;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.top-menu i{
    margin-right: 10px;
}

.top-menu li{
    float: left;
    width: 50%;
}

.top-menu a:hover{
    background: #52AA91;
    text-decoration: none;
}

.top-block{
    height: 150px;
}

.top-block .container{
    width: 150px;
    padding: 0 0;
    position: relative;
}

.logo{
    font-size: 70px;
    height: 150px;
    line-height:150px;
    margin: 0;
    color: #000000;
    font-family: 'Clicker Script', cursive;
    text-align: center;
}

.logo a{
    color:#000000;
    cursor:pointer;
}


.main-menu {
    height: 40px;
    border-top: #ddd 1px solid;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #3d4143;
    text-align: center;
    text-decoration: none;
}


.main-menu li{
    float: left;
    width: 20%;
}

.main-menu a:hover{
    background: #4EA78C;
    text-decoration: none;
    color:#ffffff;
}


.hidden {
    display: none;
}


.index-image{
    height: 415px;
    background: url(index-image.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    top: 3px;
    margin-bottom: 3px;
}


div {
    display: block;
}

script {
    display: none;
}


.page-footer i{
    margin-right: 5px;

}

.page-footer{
    background: #62706C;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    bottom:0;
    width:100%;
    position: relative;
}

.page-footer .container{
    width:800px;
}

.page-footer ul{
    margin: 0;
    padding: 3px;
    list-style: none;
}

.page-footer div{
    padding: 3px;
}


.page-footer li{
    display: inline-block;
    margin-left: 10px;
}

.page-footer li a{
    color: white;
}

.carousel-inner{
    height: 519px;
}

.carousel-indicators li{
    max-width:10px;
    height:10px;
    border-radius:5px;
    background-color: rgba(145,190,200,.8);
}

.carousel-indicators li.active{
    background-color: #ffd968;
}


.d-block.w-100{
   object-fit: contain;
}

.fa.fa-linkedin-square{
    transform: scale(1.2);
}

video {
    width: 100%;
}

.loader {
    position: absolute;
    width: 100%;
    padding: 20% 45% 0;
}

.hide-loader {
    display: none;
}
